
*~
*.a
*.app
browserfox
core*
*.dll
*.dylib
*.exe
fltk-mini-edit
fox-tinyed
*.gch
genf_*
half
HelloWorld/*~
HelloWorld/helloworld1
HelloWorld/helloworld2
HelloWorld/helloworld2timestamp
HelloWorld/*.mkd
HelloWorld/*.o
HelloWorld/timestamp2*
*.la
*.lai
*.lib
*.lo
logged-g++
logged-gcc
makeprimes
manydl
microbenchlist
*.mod
*.o
*.obj
onionwebsocket
*.orig
*.out
*.pch
redis-scan
run-as-misc
*.slo
*.so
sync-periodically
webprint-epsonxp6150
gtksrc-browser
bwc
genf*.c
genfmap*.map
manydl_*.dat
clever-framac
filipe-shell
logged-compile
CarburEx/carbex_parser.h
