### fichier CoursLinux/.gitignore
*~
*%
*.aux
*.fls
*.log
*.png
gener*tex
clinux.bbl
clinux.blg
clinux.nav
clinux.pdf
clinux.snm
clinux.toc
cours-linux-Starynkevitch.pdf
cours-shell-Starynkevitch.pdf
cshell.nav
cshell.pdf
cshell.snm
cshell.toc
